<!DOCTYPE html>
<html lang="en">
  <!-- TEMPLATE LINK FOR HTML HEAD SECTION -->
<%- include('../partials/head.ejs') %>
<body>
  <!-- TEMPLATE LINK FOR HERO SECTION -->
  <%- include('../partials/hero/hero.ejs') %>

  <!-- TEMPLATE LINK FOR NAVBAR  -->
  <%- include('../partials/nav/nav.ejs') %> 

  <!-- TEMPLATE LINK FOR ABOUT SECTION -->
  <%- include('../partials/about/about.ejs') %>

  <!-- TEMPLATE LINK FOR EXPERIENCE SECTION -->
  <%- include('../partials/experience/experience.ejs') %>

  <!-- TEMPLATE LINK FOR PORTFOLIO SECTION -->
  <%- include('../partials/portfolio/portfolio.ejs') %>

  <!-- TEMPLATE LINK FOR CONTACT SECTION -->
  <%- include('../partials/contact/contact.ejs') %>

  <!-- TEMPLATE LINK FOR FOOTER SECTION -->
  <%- include('../partials/footer/footer.ejs') %>


  <!-- INITIALIZE ANIMATION ON SCROLL -->
  <script>
    AOS.init();
  </script>
</body>
</html>